{% extends "blog/base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block header %}
<header class="masthead" style="background-image: url('{{ post.image.url }}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>{{ post.title }}</h1>
                    <h2 class="subheading">{{ post.subtitle }}</h2>
                    <span class="meta">
                        Published {{ post.pub_date }} by {{ post.author }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
    <article class="mb-4">
        <p>{{ post.body }}</p>
    </article>
    {% with comments.count as total_comments %}
        <h2>
        {{ total_comments }} comment{{ total_comments|pluralize }}
        </h2>
    {% endwith %}
    {% for comment in comments %}
        <div class="comment">
            <p style="font-size: 15px; color: #a2a8ad; margin: 5px 0px">{{ comment.name }}: {{ comment.body }}</p>
        </div>  
    {% empty %}
    {% endfor %}
    {% include "blog/post/includes/comment_form.html" %}
    <p>
        <a href="{% url 'blog:post_share' post.id %}">Share this post</a>
    </p>
{% endblock %}
